on spawn:
    timer _duration _timer

on timer _timer end:
    destroy this

//Speed up on
on overlap start player _ally:
    stat layer _ally #rainbow

//Speed up off
on overlap end player _ally:
    stat layer _ally #rainbow false