//Set timer for when to do damage
on spawn:
    status ethereal
    timer _delay _timer

//Timer finished, do damage
on timer _timer end:
    status ethereal false
    timer _despawnDelay _despawnTimer

//Despawn
on timer _despawnTimer end:
    destroy this

//Stun players
on hit enemy player _target:
    stun _target _stunDuration

//Damage spawned objects and terrain objects
on hit nonally construct _target:
    damage _target _damage
