//_stunDuration: 3
//_knockBackSpeed: 1
//_damage: 1
//_delay: 1.5
//_despawnDelay: 0.1

//Set timer for when to do damage
on spawn:
    status ethereal
    timer _delay _timer

//if sniper moves during laser, move with him
while tick:
    status ethereal?
    move this pos controller.pos

//Timer finished, do damage
on timer _timer end:
    status ethereal false
    timer _despawnDelay _despawnTimer

//Despawn
on timer _despawnTimer end:
    destroy this

//Stun players
on hit enemy player _target:
    stun _target _stunDuration _knockBackSpeed

//Damage spawned objects and terrain objects
on hit nonally construct _target:
    damage _target _damage
