//Root player
on hit enemy player _target:    
    status _target rooted
    timer _rootDuration _rootTimer

//Unroot player
on timer _rootTimer end:
    destroy this

on destroy:
    status _target rooted false