on spawn:
    _ironshotRange = owner.ironshotRange
    _ironshot_cddur = owner.ironshot_cddur

while controller button action1:
    //fire rate
    cooldown _ironshot_cddur _ironshot_cd_next?
    //controller has amina?
    controller locked mana!?
    //spawn
    spawn "ironshot" dir controller.lookDir _ironshotRange, shoot dir controller.lookDir

while tick:
   _lookDir = controller.lookDir