on hit enemy player _target:
    stun _target _stunDuration
    destroy this

on hit enemy object _shot:
    damage _shot _damage

while tick:
    move this dir _moveDir _speed
    damage rate this _hpDrainRate

on hp empty:
    destroy this
