//copied from Common/Shot
on hit enemy player _target:
    stun _target _stunDuration
    destroy this

on hit enemy shot _shot:
    damage _shot _damage

//Grapple player to hit location
on hit object _target:
    owner.grapplePos = _target.pos
    status owner immobile
    destroy this

on hit own shot _target:
    owner.grapplePos = _target.pos
    status owner immobile
    destroy this

on owner status stun:
    destroy this