//Stealth
on overlap start ally _ally:
    status _ally stealthed

on overlap end ally _ally:
    status _ally stealthed false

//Max duration
on spawn:
    timer _duration _timer

on timer _timer end:
    destroy this
